<!DOCTYPE html>
{%load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    {% comment %} <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" /> {% endcomment %}
    {% comment %} <style>
      body {
        background-image: url("../static/assets/{{images.backgroundhome}}");
        background-size: cover;
        background-repeat: no-repeat;
      }
    </style> {% endcomment %}
  </head>
  <body>
    {% comment %} {% block content %}
    <h1>images:</h1>
    <h1>{{images.backgroundhome}}</h1>

    {% endblock %} {% endcomment %}

    <div class="w3-top">
      <div class="w3-bar w3-white w3-wide w3-padding w3-card">
        <a href="#home" class="w3-bar-item w3-button"
          ><b>Welcome to my Website</b>
        </a>
      </div>
    </div>

    <a href="{% url 'contacts' %}">CONTACTS</a>


    {% comment %} <script src="{% static 'js/bootstrap.min.js' %}"></script> {% endcomment %}
  </body>
</html>
